<%- layout('layout/boilerplate') %>

  <h1>Index</h1>
  <div class="row-6">
    <% for(let note of notes){ %>
      <div class="col-3">
        <div class="card mb-5" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              <%= note.title %>
            </h5>
            <p class="card-text">
              <%= note.note %>
            </p>
            <button type="button" class="btn btn-primary">Primary</button>
          </div>
        </div>
      </div>
      <% } %>
  </div>