<%- layout('layout/boilerplate') %> 
    
<div class="row">
    <div class="col-4 offset-4">
        <h1 class="mb-3 mt-3 text-center">New Note</h1>
        <form action="/notes" method="post">
            <div class="mb-4">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="notes[title]">
              </div>
              <div class="mb-3">
                <label for="note" class="form-label">Note</label>
                <textarea class="form-control" id="note" rows="3" name="notes[note]"></textarea>
              </div>
              <button type="submit" class="btn btn-success">Note It</button>
        </form>
    </div>
</div>