<%- layout('layout/boilerplate') %> 

    <h1>show</h1>
    <p>Title: <%= note.title %> </p>
    <p>Note: <%= note.note %> </p>
    <form action="/notes/<%= note._id %>?_method=DELETE" method="post">
    <button type="submit">Delete</button>
    </form>
